.dos .wrapper {
  background-color: brown;
  width: 100%;
  height: 100vh;
  display: flex;
  /* position: absolute; */
}

.dos .left {
  width: 20%;
  background-color: #14213d;
  height: 100vh;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.151);
  position: fixed;
}

.dos .right {
  width: 100%;
  /* background-color: #e5e5e5; */
  background-color: #ffffff !important;
  height: 100vh;
}

/* .dos .body-container {
  position: absolute;
  top: 5em;
} */
.dos .header {
  width: 80%;
  height: 9vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 16em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
}

.dos .profile {
  width: 100%;
  height: 9vh;
  background-color: #fca311;
}

.dos img {
  margin-top: -2em;
  width: 50%;
  margin-left: 1em;
}

.dos .current_page {
  color: #e5e5e5;
  font-weight: 300;
  background-color: #30475e;
}

.dos .list_item {
  color: #e5e5e5;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin-top: -1.8em;
  text-align: center;
  padding: 1.25em;
}

.dos .list_item:hover {
  background-color: #30475e;
  width: 100%;
  transition: all 0.3s ease-in;
}

.dos ul {
  list-style-type: none;
  margin-left: -3em;
}

.dos .icon {
  width: 15%;
  margin-left: -2em;
  margin-top: 0.2em;
}

.dos .todo {
  width: 15%;
  margin-left: -3.6em;
  margin-top: 0.2em;
}

.dos .todoWrapper {
  width: 70%;
  height: 70vh;
  background-color: white;
  margin: auto;
  margin-top: 3em;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.dos .heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.dos .todoWrite {
  margin-left: 6em;
  width: 60%;
  margin-top: 7em;
}

.dos .todoButt {
  background-color: #fca311;
  border: none;
  color: white;
  outline: none;
  width: 10%;
  margin-top: -3em;
  margin-left: 27em;
  height: 6vh;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(5, 5, 5, 0.2);
}
