@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.students {
  font-family: "Poppins", sans-serif;
}
.students .body-container {
  position: absolute;
  left: 25%;
  top: 5em;
  background: #ffffff !important;
  width: 70%;
  /* width: 80%; */
  height: 85vh;
}

.show_stu {
  width: 80%;
  height: 9vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 15.8em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
}

.students .tab div {
  margin-bottom: 15px;
}

.students .content-container {
  margin-top: 3em;
  margin-left: 13em;
}

.students .body-container button {
  outline: none;
  background: #ffc93c;
  border: 1px solid #ffc93c;
  width: 80px;
  padding: 6px 8px;
  border-radius: 3px;
  color: #14213d;
  font-weight: 700;
  margin-top: 2em;
}

.students #prevBtn {
  margin-right: 6em;
}

.students .body-container input,
select {
  width: 80%;
  border-radius: 3px;
  border: 1px solid #9b7f7f;
  padding: 4px;
  margin-bottom: 15px;
}

.students select {
  background: white;
}
.students .tab {
  display: none;
}

.students input.invalid {
  background-color: #ffdddd;
}

.students .search-box {
  width: 80%;
  position: absolute;
  top: 5em;
  left: 15%;
  display: inline;
}

.students .search-box input {
  width: 65%;
  height: 6vh;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.048);
}

.students .show-students .search-box input {
  margin: auto 10em;
}
.students .mini-container {
  position: absolute;
  left: 25%;
  top: 10em;
  background: #ffffff !important;
  width: 70%;
  height: 85vh;
}

.students .show-students .add {
  outline: none;
  background: #ffc93c;
  border: 1px solid #ffc93c;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  position: absolute;
  top: 4%;
  right: 12%;
}

.students .show-students img {
  position: absolute;
  top: 100%;
  left: -0.7em;
  width: 25px;
  height: 30px;
}

.students .backward {
  position: absolute;
  top: 5%;
  left: 2em;
  color: #ffc93c;
  z-index: 1999;
  cursor: pointer;
}

.showback {
  position: absolute;
  top: 15%;
  left: 23%;
  color: #ffc93c;
  z-index: 1999;
  cursor: pointer;
}

.students tbody tr:hover {
  transition: ease 0.5s;
  background-color: #14213db4;
  cursor: pointer;
  color: #ffffff;
}

.students .table .one,
th {
  background-color: #14213dd7;
}

.students th {
  color: #ffffff;
}

.students .Student li {
  color: #14213d;
  font-weight: 700;
  margin-bottom: 0.8em;
}
.students .Student li span {
  float: right;
  margin-right: 18em;
  color: #000000 !important;
  font-weight: 600 !important;
}

.students .remove {
  color: #d84f4f;
  font-size: 22px;
  position: absolute;
  top: 6%;
  right: 10em;
  cursor: pointer;
}

.students .other {
  margin-top: 7em;
  margin-left: 12em;
}

.students .Student .edit {
  /* margin-left: 1em; */
  /* float: right; */
  position: absolute;
  right: 25%;
  color: #27427c !important;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.students .Student li:hover .edit {
  opacity: 1;
}

.students .Student .editing {
  border: 1px solid #27427ce5 !important;
}
