@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.whoareyou {
  font-family: "Poppins", sans-serif;
  background: #ffffff !important;
  height: 100vh;
  /* margin-top: 2rem; */

  /* height: 10vh; */
}

.whoareyou .main .header {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  /* margin-bottom: 10em; */
  /* height: 80%; */
  /* margin-bottom: 30px; */
  /* bottom: 5.5em; */
  /* height: 9em;
  left: 2em;
  top: 35px; */

  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 27px;
  /* line-height: 40px; */
  text-align: center;

  color: #fca311;
}

.whoareyou .row {
  margin-top: 4em;
}
/* .circles{
  margin-top: 5em;
} */

.whoareyou .main {
  /* position: absolute; */
  width: 100%;
  /* min-height: 60vh; */
  /* height: 100vh; */
  /* display: flex; */
  /* left: 2em; */
  /* top: 94px; */
  /* display: inline-block; */

  /* background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); */
}
/* .whoareyou img { */
/* max-width: 90rem;
  max-height: 30px; */
/* width: 113px;
  height: 116.05px; */
/* } */

.whoareyou .rounded-circle {
  /* padding: 2em; */
  background-color: #14213d;
  color: #000000;
  /* width: 30%; */
  /* width: 30%; */
  /* justify-content: space-between; */
  max-height: 170px;
  height: 150px;
  width: 150px;
  /* width: 20em; */
  margin-left: 6em;
  /* margin-right: 67px; */
  margin-top: 4em;
  /* margin-bottom: 4em; */
  /* border: 3px #efeffe !important; */
  border: 5px solid #e5e5e5;
  cursor: pointer;
  position: relative;
}

.whoareyou .r-one {
  margin-top: 6em;
}

.whoareyou .value {
  position: absolute;
  /* top: 50%;
  left: 17%; */
  width: 100px;
  height: 100px;
  top: 20%;
  left: 16%;
  /* left: 11.41%;
  right: 78.75%; */
  /* top: 25%; */
  /* bottom: 38.33%; */
}

.value img,
.value3 img {
  width: 90px;
  height: 90px;
}

.value2 img {
  width: 150px;
  height: 120px;
}

.whoareyou .value2 {
  position: absolute;
  top: 15%;
  left: 18%;
  /* left: 11.41%; */
  /* right: 78.75%; */
  /* bottom: 38.33%; */
}

/* .whoareyou .value2 img {
  width: 200px;
  height: 150px;
} */

.whoareyou .value3 {
  /* margin-left: 0.2em;
  margin-top: 2em; */
  position: absolute;
  top: 15%;
  left: 5%;
  /* left:  */
  /* width: 116px;
  height: 117px; */
}

/* .whoareyou .r-one {
  margin-right: 2em;
}
margin-left: 30em;
.whoareyou .r-two {
  margin-right: 2em;
} */

/* .whoareyou .text {
  position: absolute;
  width: 197px;
  height: 45px;
  left: 477px;
  top: 543px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  text-align: center;

  color: #000000;
} */

@media only screen and (min-width: 992px) {
  /* .whoareyou { */
  /* background: #ffff !important; */

  /* } */
  .whoareyou {
    background: #e5e5e5 !important;
    width: 80%;
    margin-top: 5em;
  }
  .whoareyou .main {
    background: #ffffff;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); */
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
    height: 80vh;
    /* width: 80%; */
  }
  .whoareyou .row {
    /* margin-left: 5em;
    margin-top: 8em; */
    position: absolute;
    left: 20%;
  }
  .whoareyou .main .rounded-circle {
    margin-left: 6em;
    margin-top: 8em;
  }
  .whoareyou .main .header {
    position: absolute;
    width: 80%;
    top: 25%;
  }
}
