/* #Form2 {
  left: 80em;
} */

#Form2 {
  width: 100%;
  margin-left: 2em;
  margin-top: 5em;
}

#Form2 .form-control {
  width: 90% !important;
  color: black !important;
  border-color: #9b7f7f !important;
}

#Form2 .field {
  margin-bottom: 12px;
}
/* 
#Form2 button {
    margin-left: 10em;
    margin-top: 4em;
  } */

#Form2 #Back1 {
  /* float: left; */
  background-color: #001748;
  position: absolute;
  left: 0em;
  top: 22em;
}

#Form2 #Next2 {
  /* float: left; */
  position: absolute;
  left: 16em;
  top: 22em;
}

@media only screen and (min-width: 600px) {
  #Form2 .form-control {
    width: 60% !important;
  }
  #Form2 {
    margin-left: 10em;
  }
  #Form2 #Next2 {
    left: 50%;
  }
}

@media only screen and (min-width: 992px) {
  #Form2 {
    width: 100%;
    margin-left: 12em;
  }

  #Form2 .form-control {
    width: 60% !important;
    color: black !important;
    border-color: #9b7f7f !important;
  }
  #Form2 #Next2 {
    /* float: left; */
    position: absolute;
    left: 50%;
    top: 22em;
  }
}
